:root {
    --input-margin: 25px;
}

html {
    background: black;
    height: 100%;
    overflow: hidden;
}

body {
    background-image:url(41690.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 100%;
}

#container img {
    object-fit: contain;
    /* or
      object-fit: cover; */
}

#container {
    background-color: #0e2431;
    border: 5px solid lightblue;
    height: 450px;
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

#userInput {
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    margin: var(--input-margin) auto;
    display: block;
}

p {
    color: white;
    font-size: 30px;
}

#buns {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #555555; /* Dark grey */
}

button {
    background-color: #4CAF50; /* Green */
    width: 10%;
    border: 50pix;
    color: white;
    padding: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
}